<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>発音クイズ</title>
</head>
<body>
<div class="container">
  <h2>次のタイ文字に適切な発音は以下の5つのうち、どれでしょうか</h2>
  <p th:text="${question.thaiWord}"></p>

  <form th:action="@{/questions/tone-rules/check}" method="post">
    <input type="hidden" th:value="${question.id}" name="questionId"/>
    <div th:each="choice : ${question.choices}">
      <input type="radio" th:value="${choice}" name="selectedAnswer"/> <span th:text="${choice}"></span><br>
    </div>
    <button type="submit">回答</button>
  </form>
</div>
</body>
</html>
